// Mixins Here

.center() {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.borderbox(){
    border: 2px solid black;
}

.btncolor(@bg-color: #23293B, @font-color: white){
    background-color: @bg-color;
    color: @font-color;
}

@phone: ~'(max-width: 530px)';